.bord{
  width: 400px;
  height: 400px;
  background: #999ea7;
  border: 3px solid rgba(254, 138, 44, 0.721);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  padding: 5px;
  margin: 20px 0;
}
@media screen and (max-width: 420px) {
  .bord{
    width: 300px;
    height: 300px;
  }
}

