.game{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bord{
  width: 400px;
  height: 400px;
  background: #999ea7;
  border: 3px solid rgba(254, 138, 44, 0.721);
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  padding: 5px;
  margin: 20px 0;
}

