.App {
  width: 100vw;
  height: 100vh;
  background: rgb(66, 109, 79);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .App {
    min-height: 500px;
  }
  .game{
    width: 320px;
  }
}
