
.tile{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin: 4px;
  border: 1px solid rgba(254, 138, 44, 0.721);
}

.tile2 {
  background-color: #70bdf0;
}

.tile4 {
  background-color: #3799a8;
}

.tile8 {
  background-color: #71efaa;
}

.tile16 {
  background-color: #80f575;
}

.tile32 {
  background-color: #f5cd5f;
}

.tile64 {
  background-color: #f6a53b;
}

.tile128 {
  background-color: #fa7456;
}

.tile256 {
  background-color: #ed6398;
}

.tile512 {
  background-color: #8244ee;
}

.tile1024 {
  background-color: #b8069e;
}

.tile2048 {
  background-color: #ff0000;
}
