.cill{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 67, 67, 0.721);
  border-radius: 10px;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.tile{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.tile2 {
  background-color: #1cd212;
}

.tile4 {
  background-color: #ccb995;
}

.tile8 {
  background-color: #f4b17a;
}

.tile16 {
  background-color: #f59575;
}

.tile32 {
  background-color: #f57c5f;
}

.tile64 {
  background-color: #f65d3b;
}

.tile128 {
  background-color: #edce71;
}

.tile256 {
  background-color: #edcc63;
}

.tile512 {
  background-color: #edc651;
}

.tile1024 {
  background-color: #eec744;
}

.tile2048 {
  background-color: #ecc230;
}
